*.bat text eol=crlf
*.br binary
*.gz binary
*.ai binary

/gradlew text eol=lf

/dist/src/bin/*.sh text eol=lf
/dist/src/bin/jsvc.* binary

/dist/src/bin/dogma text eol=lf
/dist/src/bin/startup text eol=lf
/dist/src/bin/shutdown text eol=lf
