<div ng-cloak>
  <p>
    <search project="project.name" repository="repository.name" revision="revision" term="term"></search>
  </p>

  <hr />

  <div class="row">
    <div class="col-xs-6">
      <p style="font-size: large;">
        <a ng-href="#/{{project.name}}">{{project.name}}</a> /
        <a ng-href="#/{{project.name}}/{{repository.name}}"><b>{{repository.name}}</b></a>
      </p>
    </div>
    <div class="col-xs-6">
      <p class="pull-right">
        <revision project="project.name" repository="repository.name" path="path" revision="revision"
                  show-initial-commit="false" callback="setRevision"></revision>
      </p>
    </div>
  </div>

  <hr />

  <p>
    <span>
      <a ng-href="#/{{project.name}}/{{repository.name}}/tree/{{revision}}/">
        <strong>{{repository.name}}</strong>
      </a>
    </span>
    <span ng-repeat="parsedPath in parsedPaths" ng-if="!$first && !$last">
      /
      <a ng-href="#/{{project.name}}/{{repository.name}}/tree/{{revision}}{{parsedPath.path}}">
        {{parsedPath.name}}
      </a>
    </span>
    <span> / <strong>{{file.name}}</strong></span>
  </p>

  <ace-editor class="file-area" readonly="true" callback="aceLoaded"
              path-ng-model="file.path" content-ng-model="file.content"></ace-editor>

  <hr />

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <a type="button" class="btn btn-default"
         ng-href="#/{{project.name}}/{{repository.name}}/history/{{revision}}{{path}}">
        <span class="glyphicon glyphicon-option-vertical"></span> {{ 'entities.button_history' | translate }}
      </a>
      <a type="button" class="btn btn-default" ng-if="file.type === 'JSON'"
         ng-href="#/{{project.name}}/{{repository.name}}/query/{{revision}}{{path}}">
        <span class="glyphicon glyphicon-glass"></span> {{ 'entities.button_query' | translate }}
      </a>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="pull-right" has-role="LEVEL_USER">
        <a type="button" class="btn btn-primary"
           ng-href="#/{{project.name}}/{{repository.name}}/edit/{{revision}}{{path}}">
          <span class="glyphicon glyphicon-edit"></span> {{ 'entities.button_edit' | translate }}
        </a>
        <button class="btn btn-danger"
                ng-click="deleteFile()">
          <span class="glyphicon glyphicon-remove"></span> {{ 'entities.button_delete' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
