<form name="deleteForm" ng-submit="deleteFile()" novalidate>
  <div class="modal-header">
    <h4 class="modal-title">{{ 'entities.title_delete_target' | translate: "{ target: '" + file.path + "' }" }}</h4>
  </div>
  <div class="modal-body">
      <div class="form-group"
           ng-class="{ 'has-error': deleteForm.messageSummary.$invalid && !deleteForm.messageSummary.$pristine }">
        <label for="messageSummary" translate>entities.commit_summary</label>
        <input id="messageSummary" name="messageSummary" type="text" class="form-control"
               ng-model="message.summary" placeholder="Delete {{file.path}}" />
      </div>
      <div class="form-group">
        <label for="messageDetail" translate>entities.commit_detail</label>
        <textarea id="messageDetail" class="form-control" data-ng-model="message.detail.content"></textarea>
      </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-danger" data-ng-disabled="deleteForm.$invalid" translate>entities.button_delete</button>
    <button type="button" class="btn" ng-click="cancel()" translate>entities.button_cancel</button>
  </div>
</form>
