<div ng-cloak>
  <p>
    <search project="project.name" repository="repository.name" revision="revision" term="term"></search>
  </p>

  <hr />

  <div class="row">
    <div class="col-xs-6">
      <p style="font-size: large;">
        <a ng-href="#/{{project.name}}">{{project.name}}</a> /
        <a ng-href="#/{{project.name}}/{{repository.name}}"><strong>{{repository.name}}</strong></a>
      </p>
    </div>
    <div class="col-xs-6">
      <p class="pull-right">
        <revision project="project.name" repository="repository.name" path="path" revision="revision"
                  show-initial-commit="true" callback="setRevision"></revision>
      </p>
    </div>
  </div>

  <hr />

  <p>
    <span>
      <a ng-href="#/{{project.name}}/{{repository.name}}/tree/{{revision}}/">
        <strong>{{repository.name}}</strong>
      </a>
    </span>
    <span ng-repeat="parsedPath in parsedPaths" ng-if="!$first">
      /
      <a ng-href="#/{{project.name}}/{{repository.name}}/tree/{{revision}}{{parsedPath.path}}">
        {{parsedPath.name}}
      </a>
    </span>
  </p>

  <table class="table table-hover table-responsive">
    <tbody>
    <tr ng-if="parsedPaths.length > 1">
      <td style="width: 20px;"><span class="glyphicon glyphicon-level-up"></span></td>
      <td>
        <a ng-href="#/{{project.name}}/{{repository.name}}/tree/{{revision}}{{parsedPaths[parsedPaths.length-2].path}}">..</a>
      </td>
    </tr>
    <tr ng-if="files.length == 0">
      <td style="width: 20px;"></td>
      <td translate>entities.empty_directory</td>
    </tr>
    <tr ng-repeat="file in files" ng-click="selectFile(file)" ng-class="{info: file === selectedFile}">
      <td style="width: 20px;">
        <span ng-if="file.type === 'DIRECTORY'" class="glyphicon glyphicon-folder-open"></span>
        <span ng-if="file.type !== 'DIRECTORY'" class="glyphicon glyphicon-file"></span>
      </td>
      <td>
        <a ng-if="file.type === 'DIRECTORY'"
           ng-href="#/{{project.name}}/{{repository.name}}/tree/{{revision}}{{file.path}}">{{file.name}}</a>
        <a ng-if="file.type !== 'DIRECTORY'"
           ng-href="#/{{project.name}}/{{repository.name}}/files/{{revision}}{{file.path}}">{{file.name}}</a>
      </td>
    </tr>
    </tbody>
  </table>

  <hr />

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <a type="button" class="btn btn-default"
         ng-href="#/{{project.name}}/{{repository.name}}/history/{{revision}}{{path}}">
        <span class="glyphicon glyphicon-option-vertical"></span> {{ 'entities.button_history' | translate }}
      </a>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="pull-right" has-role="LEVEL_USER">
        <a type="button" class="btn btn-primary"
           ng-href="#/{{project.name}}/{{repository.name}}/new/{{revision}}{{path}}">
          <span class="glyphicon glyphicon-plus"></span> {{ 'entities.button_create' | translate }}
        </a>
        <button class="btn btn-danger"
                data-ng-disabled="selectedFile == null" ng-click="deleteFile()">
          <span class="glyphicon glyphicon-remove"></span> {{ 'entities.button_delete' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
