<div ng-cloak>
  <p>
    <search project="project.name" repository="repository.name" revision="revision" term="term"></search>
  </p>

  <hr />

  <form name="fileForm" ng-submit="editFile()" novalidate>
    <div class="form-group">
      <label class="control-label" translate>entities.repository</label>

      <p class="form-control-static">
      <span>
        <a ng-href="#/{{project.name}}">{{project.name}}</a> /
      </span>
      <span>
        <a ng-href="#/{{project.name}}/{{repository.name}}/tree/{{revision}}/">
          <strong>{{repository.name}}</strong>
        </a>
      </span>
      <span>
        @ <a ng-href="#/{{project.name}}/{{repository.name}}/tree/{{revision}}/">{{revision}}</a>
      </span>
      </p>
    </div>

    <div class="form-group"
         ng-class="{ 'has-error': fileForm.fileName.$invalid && !fileForm.fileName.$pristine }">
      <label class="control-label" translate>entities.path</label>

      <div class="input-group">
        <span>
          <a ng-href="#/{{project.name}}/{{repository.name}}/tree/{{revision}}/">
            <strong>{{repository.name}}</strong>
          </a>
        </span>
        <span ng-repeat="parsedPath in parsedPaths" ng-if="!$first && !$last"> /
          <a ng-href="#/{{project.name}}/{{repository.name}}/tree/{{revision}}{{parsedPath.path}}">
            {{parsedPath.name}}
          </a>
        </span>
        <span> / <strong>{{file.name}}</strong></span>
      </div>
    </div>

    <div class="form-group">
      <button type="button" class="btn btn-default" ng-click="fetchAndMerge()">
        <span class="glyphicon glyphicon-repeat"></span> {{ 'entities.button_fetch_again' | translate }}
      </button>
    </div>

    <div class="form-group">
      <p ng-if="isDiffsApplied" class="alert alert-info" role="alert" translate>
        entities.resolved_conflicts
      </p>

      <ace-editor class="top-buffer file-area" readonly="false" callback="aceLoaded"
                  path-ng-model="file.path" content-ng-model="file.content"></ace-editor>
    </div>

    <fieldset>
      <legend translate>entities.commit_message</legend>

      <div class="form-group"
           ng-class="{ 'has-error': fileForm.messageSummary.$invalid && !fileForm.messageSummary.$pristine }">
        <label for="messageSummary" class="control-label" translate>entities.commit_summary</label>
        <input id="messageSummary" name="messageSummary" type="text" class="form-control"
               ng-model="message.summary" placeholder="Edit {{file.path}}" />
      </div>

      <div class="form-group">
        <label for="messageDetail" class="control-label" translate>entities.commit_detail</label>
        <textarea id="messageDetail" class="form-control" data-ng-model="message.detail.content"></textarea>
      </div>
    </fieldset>

    <div class="form-group">
      <button type="submit" class="btn btn-primary" data-ng-disabled="fileForm.$invalid">
        <span class="glyphicon glyphicon-plus"></span> {{ 'entities.button_commit' | translate }}
      </button>
    </div>
  </form>
</div>
