.App-logo {
  height: 120px;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 180px;
  padding: 20px;
  color: white;
}

.App-body {
  text-align: center;
  padding-top: 10px;
  padding-left: 20%;
  padding-right: 20%;
}


