<div ng-cloak>
  <h2>Application Tokens</h2>

  <table class="table table-hover table-responsive">
    <thead>
    <tr>
      <th><span translate>settings.token_application_id</span></th>
      <th><span translate>settings.token_level</span></th>
      <th><span translate>settings.token_creator</span></th>
      <th><span translate>settings.token_creation_time</span></th>
      <th><span translate>settings.token_status</span></th>
      <th has-role="LEVEL_ADMIN"><span translate>settings.token_secret</span></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="token in tokens" ng-click="selectToken(token)" ng-class="{info: token === selectedToken}">
      <td>
        {{token.appId}}
        <p class="collapse" id="secret-{{token.appId}}">{{token.secret}}</p>
      </td>
      <td>
        <div ng-switch="token.admin">
          <div ng-switch-when="true">Admin</div>
          <div ng-switch-default>User</div>
        </div>
      </td>
      <td>{{sanitizeEmail(token.creation.user)}}</td>
      <td>{{token.creationTimeStr}}</td>
      <td>
        <div ng-switch="token.isActive">
          <div ng-switch-when="true">Active</div>
          <div ng-switch-default>Inactive</div>
        </div>
      </td>
      <td has-role="LEVEL_ADMIN">
        <p><a class="btn-xs" data-toggle="collapse" data-target="#secret-{{token.appId}}">
          <span class="glyphicon glyphicon-circle-arrow-down"></span></a></p>
      </td>
    </tr>
    </tbody>
  </table>

  <hr />

  <div class="row">
    <div class="pull-right" has-role="LEVEL_USER">
      <button class="btn btn-primary" ng-click="showGenerateTokenDialog()">
        <span class="glyphicon glyphicon-plus"></span> {{ 'settings.button_create_token' | translate }}
      </button>
      <button class="btn btn-primary"
              data-ng-disabled="selectedToken == null || selectedToken.isActive"
              ng-click="activateToken()">
        <span class="glyphicon"></span> {{ 'settings.button_activate_token' | translate }}
      </button>
      <button class="btn btn-primary"
              data-ng-disabled="selectedToken == null || !selectedToken.isActive"
              ng-click="deactivateToken()">
        <span class="glyphicon"></span> {{ 'settings.button_deactivate_token' | translate }}
      </button>
      <button class="btn btn-danger"
              data-ng-disabled="selectedToken == null || selectedToken.isActive"
              ng-click="deleteToken()">
        <span class="glyphicon glyphicon-remove"></span> {{ 'settings.button_delete_token' | translate }}
      </button>
    </div>
  </div>

</div>
