<form name="deleteTokenForm" ng-submit="deleteToken()" novalidate>
  <div class="modal-header">
    <h4 class="modal-title">{{ 'settings.title_delete_token' | translate: "{ token: '" + token.appId + "' }"
      }}</h4>
  </div>
  <div class="modal-body">
    <div class="form-group"
         ng-class="{ 'has-error': deleteTokenForm.messageSummary.$invalid && !deleteTokenForm.messageSummary.$pristine }">
      <label for="messageSummary" translate>entities.commit_summary</label>
      <input id="messageSummary" name="messageSummary" type="text" class="form-control"
             ng-model="message.summary" placeholder="Delete {{token.appId}}" />
    </div>
    <div class="form-group">
      <label for="messageDetail" translate>entities.commit_detail</label>
      <textarea id="messageDetail" class="form-control" data-ng-model="message.detail.content"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-danger" data-ng-disabled="deleteTokenForm.$invalid" translate>
      settings.button_delete
    </button>
    <button type="button" class="btn" ng-click="cancel()" translate>settings.button_cancel</button>
  </div>
</form>
