<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%-5level]\(%logger{1}\) [%thread] %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="EEA" class="com.linecorp.centraldogma.testing.internal.ExpectedExceptionAppender">
    <appender-ref ref="CONSOLE"/>
  </appender>

  <logger name="com.linecorp" level="DEBUG" />
  <logger name="com.linecorp.centraldogma.server.internal.admin.logging.LoggingAspect" level="INFO" />

  <logger name="io.netty" level="INFO" />

  <root level="WARN">
    <appender-ref ref="EEA" />
  </root>
</configuration>
