name: Publish Docker image

on:
  push:
    tags:
      - centraldogma-*
  workflow_dispatch:
    inputs:
      version:
        description: 'Target version x.y.z'
        required: true
        type: string

env:
  LC_ALL: 'en_US.UTF-8'
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    if: github.repository == 'line/centraldogma'
    runs-on: ubuntu-latest
    steps:
      - name: Check out tag from workflow_dispatch
        if: github.event_name == 'workflow_dispatch'
        uses: actions/checkout@v4
        with:
          ref: centraldogma-${{ github.event.inputs.version }}

      - name: Check out tag on push
        if: github.event_name != 'workflow_dispatch'
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 25

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract release version
        id: release-version
        uses: actions/github-script@v4
        with:
          script: |
            let version;
            if (context.eventName === 'workflow_dispatch') {
              version = context.payload.inputs.version;
            } else {
              version = context.ref.replace(/.*centraldogma-/, '');
            }
            console.log('Release version:', version);
            return version;

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker image
        run: ./gradlew :dist:docker --stacktrace -Pversion=${{ steps.release-version.outputs.result }}
        shell: bash
