name: Publish Central Dogma site

on:
  push:
    tags:
      - centraldogma-*

env:
  LC_ALL: 'en_US.UTF-8'

jobs:
  publish-site:
    if: github.repository == 'line/centraldogma'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install graphviz
        run: |
          sudo apt-get -y install graphviz

      - id: setup-jdk-25
        name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '25'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build the site
        run: |
          ./gradlew --no-daemon --stacktrace site

      - name: Deploy the site
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: site/build/site
